{% extends 'base.html' %}

{% block scripts %}
<script>

  $(function () {
    // Set focus (cursor) on input field so you don't need your mouse
    $("#username").focus();
  });

</script>
{% endblock %}

{% block header %}
<h1>{% block title %}
  {# MSG: Title for the log in page for admins. #}
  {% trans %}👩‍🎤 User Information👨‍🎤{% endtrans %}
{% endblock %}</h1>
{% endblock %}

{% block content %}

{# MSG: Title fo the form to enter the user's name. #}
<span style="font-size:medium">{% trans %}Enter the user's name:{% endtrans %}</span>

<form action="{{ url_for('username') }}" method="post">


  <div class="field has-addons" style="margin-bottom: 5px ">
    <div class="control" style="width:100%; max-width:350px">
      <input id="username" name="username" class="input" ></input>
    </div>
    <div class="control">
      {# MSG: Text on submit button for the user name form. #}
      <button class="button is-rounded">{% trans %}Submit{% endtrans %}</button>
    </div>
  </div>  
</form>

<br><br>
<span style="font-size:small">
  <p>❗This will show up next to the songs you queue up from this device.</p>
  <p>❗You MUST enter a user name if you want to add songs to the queue!</p>
  <p>❗Browsing is allowed without entering a user name. 
    &ensp;Simply return to the "Search" or "Browse" page.</p>
</span>

{% endblock %}